---
import TaskCom from "./Task.astro"

---

<div>
    <main>
        <section>
            <TaskCom />
        </section>
    </main>
</div>

<style>
    body {
        background-color: aliceblue;
        font-family: Arial, sans-serif;
        min-height: 100vh;
    }
</style>
