<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	
	<body class="min-h-screen bg-[#f0f8ff] font-sans">
		<slot />
	</body>
</html>

<style is:global>
	@import "tailwindcss";
</style>
